@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
:root {
    --primary-color: #166534;
    --secondary-color: #86efac;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h1 {
    margin-top: 3rem;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

label {
    display: block;
    padding: 0.5rem;
    margin: auto;
    font-family: 'Mulish', sans-serif;
    font-size: x-large;
}

.input-stock {
    margin-bottom: 0.5rem;
    width: 60%;
    height: 7vh;
    border-radius: 0.5rem;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.button {
    width: 8rem;
    height: 6vh;
    padding: 0.5rem;
    font-size: large;
    margin: auto;
    border-radius: 0.5rem;
    border: 1px solid whitesmoke;
    color: var(--primary-color);
    background-color: #fff;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#output-box {
    margin-top: 2rem;
    font-size: x-large;
}